* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 480px;
    width: 310px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid black;
    position: relative;
}

.story-container {
    height: 120px;
    padding: 15px;
    border-bottom: 1px solid ;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.story-container::-webkit-scrollbar{
    display: none;
}

.story {
    height: 90px;
    width: 90px;
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.full-screen {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}